{% extends "base.html" %}
{% load static %}

<!-- Load bag_tools.py from bag/templatetags -->
 {% load bag_tools %}

{% block page_header %}
    <div class="container header-container"></div>
    <div class="row">
        <div class="col"></div>
    </div>

{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Shopping Bag</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if bag_items %}
                    <div class="table-responsive rounded"></div>
                        <table class="table table-sm table-borderless">
                            <thead class="text-black">
                                <tr>
                                    <th scope="col">Product Info</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>

                            {% for item in bag_items %}
                                <tr>
                                    <td class="p-3 w-25">
                                        <img src="{{ item.product.image.url }}" class="img-fluid rounded">
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                        <p class="my-0"><strong>Size: </strong>{% if item.product.has_sizes %}{{ item.size|upper }}{% else %}N/A{% endif %}</p>
                                        <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">${{ item.product.price }}</p>
                                    </td>
                                    <td class="py-3 w-25">
                                        <form class="form update-form" action="{% url 'adjust_bag' item.item_id %}" method="POST">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <button class="decrement-qty btn btn-sm btn-black rounded-0"
                                                            data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                            <span>
                                                                <i class="fas fa-minus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <input class="form-control form-control-sm qty_input" type="number" name="quantity" value="{{ item.quantity }}"
                                                        min="1" max="99" data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                                    <div class="input-group-append">
                                                        <button class="increment-qty btn btn-sm btn-black rounded-0"
                                                            data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                            <span>
                                                                <i class="fas fa-plus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    {% if item.product.has_sizes %}
                                                        <input type="hidden" name="product_size" value="{{ item.size }}">
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </form>
                                        <a class="update-link text-info"><small>Update</small></a>
                                        <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}" data-product_size="{{ item.size }}"><small>Remove</small></a>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">${{ item.product.price | calc_subtotal:item.quantity }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5" class="pt-5 text-right">
                                    <h6><strong>Bag Total: ${{ total|floatformat:2 }}</strong></h6>
                                    <h6>Delivery: ${{ delivery|floatformat:2 }}</h6>
                                    <h4 class="mt-4"><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></h4>
                                    {% if free_delivery_delta > 0 %}
                                        <p class="mb-1 text-danger">
                                            You could get free delivery by spending just <strong>${{ free_delivery_delta }}</strong> more!
                                        </p>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-right">
                                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                                    <a href="" class="btn btn-black rounded-0 btn-lg">
                                        <span class="text-uppercase">Secure Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                {% else %}
                    <p class="lead mb-5">Your bag is empty.</p>
                    <a href="{% url 'products' %}" class="btn btn-outlined-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // On a click event update quantity
    $('.update-link').click(function(e) {
       
        // Store the for in the variable
        var form = $(this).prev('.update-form');
       
        // Call form submit method
        form.submit();
    })

    // On click event remove item and reload
    $('.remove-item').click(function(e) {
        
        // The intention here is to post some data to a URL. Which we'll create in a future video.
        // And once the response comes back from the server reload the page to reflect the updated bag. To accomplish this we need several variables.
        // We need the CSRF token which we can store as a string by just rendering it here. And notice that this uses the actual template variable with the double curly brackets.
        // As opposed to the template tag which uses the inner percent signs. This is because the former renders the actual token.
        // While the latter renders a hidden input field in a form.
        var csrfToken = "{{ csrf_token }}";
        
        // Then we need the item id and the size of the item to be removed. The item id can be obtained by splitting the ID of the update link being clicked on
        // at the underscore and taking the second half of it. I've used the entire first part of the string here remove_ .
        // Just to be very explicit about what we're splitting.
        var itemId = $(this).attr('id').split('remove_')[1];
        
        // get the size will again use the data method to pull it from the data size attribute.
        var size = $(this).data('product_size');
        
        // Finally we need two more variables. A URL which will be bag/remove/ the itemId And this is a template literal. And we'll make this URL in a future video.
        var url = `/bag/remove/${itemId}/`;
        
        // And we need data. Which is the object we'll use to send this data to the server.
        // The data variable will contain a special key called CSRF middleware token
        // all lowercase.
        // Which will have our variable as its value and it'll contain the size.
        // The CSRF middleware token key will match the field Django is expecting
        // to see in request.post when we post it to the server.
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size}

        // To post to the server is as simple as using the post method from jQuery.
        // Giving it both the URL and the data.
        $.post(url, data)
         .done(function() {
            location.reload();
         });

    })
</script>
{% endblock %}
